@charset "utf-8";


#abcd{
 float:right;
 padding-right:70px;
 padding-top:40px;
 height:200px;
 width:300px;
}

#shar, .shar{
	text-align: center;
	color: purple;
	font-size: 16px;
	padding-left: 110px;
	text-decoration: none;
	font-family: 'Sawarabi Gothic', sans-serif;
	font-weight: bolder;
	text-transform: uppercase;
}
#shar:hover{
	color: skyblue;
}

#line, .line{
	text-align: center;
	color: green;
	font-size: 16px;
	padding-left: 25px;
	text-decoration: none;
	font-family: 'Sawarabi Gothic', sans-serif;
	font-weight: bolder;
	text-transform: uppercase;
}
#line:hover{
	color: skyblue;
}

